.popular {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 90vh;
  align-items: center;
}

.popular-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 80px;
  gap: 20px;
  margin-top: 50px;
}
